* {
  margin: 0;
  border: 0;
  padding: 0;
}

body {
  padding: 2rem;
  background: hsl(200, 50%, 5%);
}

.image-gallery {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 120rem;
  margin-inline: auto;
}

.image-gallery > img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  cursor: pointer;
  transition: scale 350ms ease, opacity 350ms linear, filter 350ms linear;
}


.image-gallery:has(img:hover) img:not(:hover) {
  scale: .95;
  opacity: .25;
  filter: blur(10px);
}